doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Documentos | Munca
        link(rel="stylesheet", href="/css/bootstrap.min.css")        
        link(rel="stylesheet", href="/css/modelos.css")
    body
        include layout/navbar.pug

        button#addAlert() 
            img(src="/img/mediaImg/mas.svg", alt="")
        .container
            .row
                if isNull
                    .col-12.wp-tl
                        h1 Documentos
                    .col-12.actionGuide
                        p Parece que todavia no tienes modelos Documentos agregados, agrega uno dando click al mas1
                    .col-12.imgNull
                        img(src="/img/mediaImg/emptyDocs.svg", alt="")
                else
                    .col-12.wp-tl
                        h1 Documentos
                    each documento in documentos
                        .col-4
                            .cardModelo
                                .wp-title
                                    h3=documento.originalname
                                .wp-img
                                    img(src=`/img/docsIcons/${documento.icon}.svg`, alt="")
                                .wp-buttons
                                    a.visit(href=`${documento.path}` download) Descargar
                                    button.delete(key=documento._id) Eliminar

        script(src="/js/bootstrap.min.js")
        script(src="/js/axios.min.js")
        script(src="/js/sweetalert.js")
        script(src="/js/documentos.js")
        