doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio de Sesion
        link(rel="stylesheet", href="/css/simple-grid.min.css")
        link(rel="stylesheet", href="/css/loginAndRegister.css")
    body
        section.container-fluid 
            .row
                .col-12.wp-credits
                    span By
                    img(src="/img/mediaImg/colamer.svg" width="50px")
        section.container
            .row
                .col-12
                    .container.title-wp
                        h1#titleAction INICIO DE SESION
                .col-12 
                    .container.wp-form
                        .wp-logoAction 
                            img(src="/img/mediaImg/register.svg", alt="")
                        .wp-inputs 
                            label(for="email") Correo
                            input(type="email" id="email" placeholder="Ej: correo@colamer.edu.co")
                            label(for="password") Contraseña
                            input(type="password" id="password" placeholder="Contraseña")
                            button(id="submit" action="login") Ingresar
                            a(href="/registrarse") Registrarse 
    


                            
        script(src="/js/axios.min.js")
        script(src="/js/sweetalert.js")
        script(src="/js/loginAndRegister.js")


